body{
  background: #888;
}

.navbar{
  height: 70px;
}

.navbar-brand{
  font-size: 30px;
}

.nav-item{
  font-size: 20px;
  padding-left: 50px;
}

.box{
  height: 1000px;
  padding-top: 70px;
}

h2{
  color: gray;
  font-size: 40px;
  padding-top: 260px;
}

h4{
  color: gray;
  font-size: 60px;
}

h5{
  color: white;
  font-size: 20px;
}

#Intro{
  background-color: #111;
}

#About{
  background-image: url("https://ibb.co/mahOnR");
  height: 100%;
}

.about-text{
  padding: 60px 50px 20px 50px;
}

.profile-img {
  width: 150px;
  margin-top: 20px;
}

p{
  font-size: 18px;
  color: white;
}

.skills ul{
  margin-left: 0px;
  padding-left: 0px;
}

.skills ul li{
  font-size: 25px;
  padding: 30px;
  display: inline-block;
  list-style: none;
  color: white;
}

.langs{
  font-size: 22px;
  padding-top: 25px;
}

.langs ul{
  margin-left: 0px;
  padding-left: 0px;
}

.langs ul li{
  display: inline-block;
  padding: 20px;
  list-style: none;
  color: white;
  font-size: 18px;
}

#Projects{
  background-image: url("https://ibb.co/mahOnR");
  height: 100%;
}

.project-body-left{
  padding: 60px 0 0 60px;
}

.project-body-right{
  padding: 60px 60px 0 0;
}

.project-img{
  width: 40%;
  margin: auto;
}

#Contact{
  background-image: url("https://ibb.co/mahOnR");
  height: 100%;
}

.social-icons p {
  color: white;
  padding-top: 30px;
}

.social-icons ul a {
  color: white;
  list-style: none;
}

.social-icons ul a li {
    display: inline-block;
    padding: 20px 50px 20px 20px;
}